<div class="mt-5"></div>
<!--<footer class="footer">
    <div class="container">
      <div class="row">
        <nav>
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                        MIT License
                    </a>
                </li>
            </ul>
        </nav>
      </div>
        <div class="copyright">
            &copy;
            {{data | date: 'yyyy'}}, Designed by
            <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
            <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
    </div>
</footer>-->

<footer class="footer">
      <span class=" d-block p-2 bg-primary text-white">
        <div class="offset-md-1">
              <div class="copyright">
                  &copy;
                  {{data | date: 'yyyy'}}, CruizerR
              </div>
            </div>
        </span>
</footer>