<div class="container">
  <div class="mt-5 mb-4">
    <h2 class="section-heading">Reservations</h2>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Vehicle</th>
        <th scope="col">Service</th>
        <th scope="col">Date</th>
        <th scope="col">State</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation._id }}</td>
        <td>{{ reservation.vehicle?.number }} ({{ reservation.vehicle?.vendor }} {{ reservation.vehicle?.model }})</td>
        <td>
          <span *ngFor="let service of reservation.services">{{ service.name }}</span>
        </td>
        <td>{{ reservation.requested.substr(0,10) }}</td>
        <td>
          <span *ngIf="reservation.status == 0">Pending</span>
          <span *ngIf="reservation.status == 1">Accepted</span>
          <span *ngIf="reservation.status == 2">Declined</span>
        </td>
        <td>
          <button *ngIf="reservation.status != 1" class="btn btn-danger" (click)="onDeleteReservation(reservation._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="mt-5 mb-4">
    <h2 class="section-heading">Cars</h2>
    <a href="#" class="btn btn-outline-primary section-action" routerLink="/portal/car/create">Add Car</a>
  </div>
  <div class="card-columns">
    <div *ngFor="let car of cars" class="card item-card">
      <div class="card-body">
        <h5 class="card-title">{{ car.number }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ car.vendor }} {{ car.model }}</h6>
        <p class="card-text">{{ car.milage }} km</p>
        <a href="#" routerLink="/portal/car/view/{{car._id}}" class="btn btn-outline-primary card-link">View</a>
      </div>
    </div>
  </div>
  <div class="mt-5 mb-4">
    <h2 class="section-heading">Services</h2>
  </div>
  <div class="card-columns">
    <div *ngFor="let service of services" class="card item-card">
      <div class="card-body">
        <h5 class="card-title">{{ service.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ service.description }}</h6>
        <p class="card-text">Rs. {{ service.price }}.00</p>
        <!-- <a href="#" routerLink="/portal/car/view/{{car._id}}" class="btn btn-outline-primary card-link">View</a> -->
      </div>
    </div>
  </div>
  <div class="mt-5 mb-4">
    <h2 class="">Rate Us</h2>
    <p></p>
    <a href="#" class="btn btn-outline-primary" routerLink="/portal/ratings-comments">Rate and Comment</a>

  </div>
</div>