<app-navbar></app-navbar>
<router-outlet></router-outlet>
<div class="mt-4">
<div class="card offset-1" style="width: 30rem;">
    <div class="card-body">
      <div class="text-center">
         <div class="modal-header">
        <h5 class="modal-title">User Details</h5>
      </div>
    </div>
  <div class="container">
</div>
<div class="container-fluid mt-3">
    <table class="table table-hover table-light">
        <tbody>
          <tr>
            <td scope="row">Username</td>
            <th>{{user.username}}</th>
          </tr>
          <tr>
            <td scope="row">Name</td>
            <th class="cap">{{user.firstname}} {{user.lastname}} </th>
          </tr>
          <tr>
            <td scope="row">Email</td>
            <th>{{user.email}}</th>
          </tr>
          <tr>
            <td scope="row">Telephone</td>
            <th>{{user.tel}}</th>
          </tr>
          <tr>
            <td scope="row">Address</td>
            <th>{{user.address}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="modal-footer">
      <button type="button" routerLink="edit/{{user._id}}" class="btn btn-primary">Edit</button>
    </div>
    </div>
  </div>
</div>


