<app-navbar></app-navbar>
<div class="row mt-5">
  <div class=" mt-5 col col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center">
    <h1>CruizeR</h1>
  </div>
</div>
<div class="col col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center">
  <h4>Vehicle Service Station</h4>
</div>

<div class="mt-5">
  <span class="text-center d-block p-2 bg-primary h-50 text-white">
    <div class="mt-5">
      <button type="submit" class="btn btn-dark row" routerLink="/signup">Sign up</button>
    </div>
    <div class="mt-5"></div>
  </span>
</div>


<div class="mt-5">
  <div class="offset-md-1">
    <h2>CruizerR</h2>
    <div class="row">
      <div class="col-lg-6">
        <p>Fuel dispensers are used to pump petrol/gasoline, diesel, compressed natural gas, CGH2, HCNG, LPG, liquid
          hydrogen, kerosene, alcohol fuel (like methanol, ethanol, butanol, propanol), biofuels (like straight
          vegetable oil, biodiesel), or other types of fuel into the tanks within vehicles and calculate the financial
          cost of the fuel transferred to the vehicle. Fuel dispensers are also known as bowsers (in some parts of
          Australia),[2] petrol pumps (in most Commonwealth countries) or gas pumps (in North America). Besides fuel
          dispensers, one other significant device which is also found in filling stations and can refuel certain
          (compressed-air) vehicles is an air compressor, although generally these are just used to inflate car tyres.
          Also, many filling stations incorporate a convenience store, which like most other buildings generally have
          electricity sockets; hence plug-in electric vehicles can be recharged.</p>
        <!--<img class="card-img-top" src="assets/wallpaper.jpg" alt="Card image cap">-->
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-md-2 mt-5">
    <div class="card " style="width: 30rem;">
      <img class="card-img-top" src="../../../assets/img/WheelAlignment.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Wheel Alignment</h5>
        <p class="card-text">With our new generation wheel alignment machines which uses 3D technology, the vehicle
          tyre’s can be set off in the
          exact way how they were when they left the factory.</p>
        <a href="#" class="btn btn-primary">View Service</a>
      </div>
    </div>
  </div>

  <div class="offset-md-1 mt-5">
    <div class="card " style="width: 30rem;">
      <img class="card-img-top" src="../../../assets/img/CarWash.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Body Wash</h5>
        <p class="card-text">Whether it's mud or dirt, we'll wash it away in minutes.</p>
        <a href="#" class="btn btn-primary">View Service</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-md-2 mt-5">
    <div class="card " style="width: 30rem;">
      <img class="card-img-top" src="../../../assets/img/Lubrication.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Lubrication</h5>
        <p class="card-text">Regular lubrication helps to keep your vehicle engine running smoothly.</p>
        <a href="#" class="btn btn-primary">View Service</a>
      </div>
    </div>
  </div>

  <div class="offset-md-1 mt-5">
    <div class="card " style="width: 30rem;">
      <img class="card-img-top" src="../../../assets/img/InteriorCleaning.jpg" alt=" Card image cap">
      <div class="card-body">
        <h5 class="card-title">Interior Cleaning</h5>
        <p class="card-text">Get your vehicle interior cleaned and refreshed to the original state with experienced
          hands.</p>
        <a href="#" class="btn btn-primary">View Service</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>