<app-navbar></app-navbar>
  <div class="row mt-5">
    <div class=" mt-5 col col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center">
        <h1>CruizeR</h1>
    </div>
  </div>
  <div class="col col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center">
      <h4>Vehicle Service Station</h4>
  </div>

  <div class="mt-5">
      <span class="text-center d-block p-2 bg-primary h-50 text-white">
        <div class="mt-5">
            <button type="submit" class="btn btn-dark row" routerLink="/signup">Sign up</button>
        </div>
        <div class="mt-5"></div>
      </span>
  </div>
  

  <div class="mt-5">
    <div class="offset-md-1">
        <h2>CruizerR</h2>
        <div class="row">
            <div class="col-lg-6">
                <p>Fuel dispensers are used to pump petrol/gasoline, diesel, compressed natural gas, CGH2, HCNG, LPG, liquid hydrogen, kerosene, alcohol fuel (like methanol, ethanol, butanol, propanol), biofuels (like straight vegetable oil, biodiesel), or other types of fuel into the tanks within vehicles and calculate the financial cost of the fuel transferred to the vehicle. Fuel dispensers are also known as bowsers (in some parts of Australia),[2] petrol pumps (in most Commonwealth countries) or gas pumps (in North America). Besides fuel dispensers, one other significant device which is also found in filling stations and can refuel certain (compressed-air) vehicles is an air compressor, although generally these are just used to inflate car tyres. Also, many filling stations incorporate a convenience store, which like most other buildings generally have electricity sockets; hence plug-in electric vehicles can be recharged.</p>
                <!--<img class="card-img-top" src="assets/wallpaper.jpg" alt="Card image cap">-->
              </div>
        </div>
    </div>
  </div>

<div class="row">
  <div class="offset-md-2 mt-5">
    <div class="card " style="width: 25rem;">
        <img class="card-img-top" src="../../../assets/img/Change_Engine_Oil.jpg" alt="X">
        <div class="card-body">
          <h5 class="card-title">Change Engine Oil</h5>
          <p class="card-text">Regularly changing your car’s engine oil and filter are some of the most important things you can do to keep your car running well. Over time, your oil will break down and your filter will become clogged with contaminants. Depending upon your driving habits and type of vehicle, this may take as few as 3 months or 3,000 miles (4,800 km), or be as long as 20,000 miles (32,000 km) or 24 months. Fortunately, changing your oil is both easy and inexpensive, so the sooner you change the oil in your car if it needs it, the better.</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>

  <div class="offset-md-1 mt-5">
      <div class="card " style="width: 25rem;">
          <img class="card-img-top" src="../../../assets/img/Car_Wash.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Car Wash</h5>
            <p class="card-text"> With many types sweepers for option. Low cost, labor-saving, mature technology. Fujian Qunfeng Machinery specializes in producing and selling the Cleaning Truck. Economical Efficiency. Saving Labor Cost. High Efficiency. 24-hour Service. Long Life-span. Types: Road Sweeper, Garbage Truck.</p>
            <a href="#" class="btn btn-primary">More Details</a>
          </div>
        </div>
      </div>
</div>

<div class="row">
    <div class="offset-md-2 mt-5">
      <div class="card " style="width: 25rem;">
          <img class="card-img-top" src="../../../assets/img/Battery_Change.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Battery Change</h5>
            <p class="card-text">Because the Marutis are imported to srilanka and they are in their yard for some time .... before concluding the battery needs replacement.
            </p>
            <a href="#" class="btn btn-primary">More Details</a>
          </div>
        </div>
      </div>
  
    <div class="offset-md-1 mt-5">
        <div class="card " style="width: 25rem;">
            <img class="card-img-top" src="../../../assets/img/Car_Polish.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Car Polish</h5>
              <p class="card-text">Car Polishes & Waxes Srilanka - Shop for best Car Polishes & Waxes online ... 20ml Polishing Paste Wax Car Scratch Repair Agent Hydrophobic Paint</p>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
          </div>
        </div>
  </div>
  <app-footer></app-footer>

 