<app-navbar></app-navbar>
  <div class="row mt-5">
    <div class=" mt-5 col col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center">
        <h1>CruizeR</h1>
    </div>
  </div>
  <div class="col col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center">
      <h4>Vehicle Service Station</h4>
  </div>

  <div class="mt-5">
      <span class="text-center d-block p-2 bg-primary h-50 text-white">
        <div class="mt-5">
            <button type="submit" class="btn btn-dark row">Sign In</button>
        </div>
        
          
      </span>
  </div>
  

  

  <div class="col col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4 text-center">
    <p>asdas</p>
  </div>


<div class="footer text-center">
  <div class="container">
  <p>adasdasd</p>
    <a href="#pablo" class="btn btn-primary btn-round ">Get Started</a>
  </div>
</div>
