<div class="container mt-5">
  <a class="btn btn-link" href="#" routerLink="/portal">Back</a>
  <div class="mt-5">
    <h1 class="display-2">
      {{ car?.number }}
    </h1>
  </div>
  <div class="row ml-1 mr-1 mt-5">
    <div class="col col-sm-3">
      <h6 class="card-subtitle mb-2 text-muted">Model</h6>
      <p class="card-text ">{{ car?.model }}</p>
    </div>
    <div class="col col-sm-3">
      <h6 class="card-subtitle mb-2 text-muted">Vendor</h6>
      <p class="card-text">{{ car?.vendor }}</p>
    </div>
    <div class="col col-sm-3">
      <h6 class="card-subtitle mb-2 text-muted">Milage</h6>
      <p class="card-text">{{ car?.milage }} km</p>
    </div>
    <div class="col col-sm-3 text-right">
      <a href="#" class="card-link" routerLink="/portal/car/edit/{{car._id}}">Edit</a>
    </div>
  </div>
  <a routerLink="/portal/car/reserve/{{car._id}}" class="btn btn-primary mt-5">Add Reservation</a>
  <ul class="nav nav-tabs mt-5" id="car_tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="reservations-tab" data-toggle="tab" href="#reservations" role="tab"
        aria-controls="reservations" aria-selected="true">Reservations</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="options-tab" data-toggle="tab" href="#options" role="tab" aria-controls="options"
        aria-selected="false">Options</a>
    </li>
  </ul>
  <div class="tab-content" id="car_tab_content">
    <div class="tab-pane fade show active" id="reservations" role="tabpanel" aria-labelledby="reservations-tab">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Service</th>
            <th scope="col">Date</th>
            <th scope="col">State</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reservation of reservations">
            <td>{{ reservation._id }}</td>
            <td>
              <span *ngFor="let service of reservation.services">{{ service.name }}</span>
            </td>
            <td>{{ reservation.requested.substr(0,10) }}</td>
            <td>
              <span *ngIf="reservation.status == 0">Pending</span>
              <span *ngIf="reservation.status == 1">Accepted</span>
              <span *ngIf="reservation.status == 2">Declined</span>
            </td>
            <td>
              <button *ngIf="reservation.status != 1" class="btn btn-danger"
                (click)="onDeleteReservation(reservation._id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="options" role="tabpanel" aria-labelledby="options-tab">
      <div class="row mt-4">
        <div class="col col-sm-12">
          <div class="card border-danger">
            <div class="card-body text-danger">
              <h5 class="card-title">Danger zone</h5>
              <p class="card-text">
                Deleting the card may remove past reservations and reports.
                Be careful when procceding the aciton below.
              </p>
              <button class="btn btn-danger" (click)="onDelete()">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>