<div class="container">
  <div class="mt-5 mb-4">
    <h2 class="section-heading">Reservations</h2>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User</th>
        <th scope="col">Vehicle</th>
        <th scope="col">Service</th>
        <th scope="col">Date</th>
        <th scope="col">State</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{ reservation._id }}</td>
        <td>{{ reservation.createdBy?.firstname }} {{ reservation.createdBy?.lastname }}</td>
        <td>
          <div>{{ reservation.vehicle?.number }}</div>
          <div class="text-muted">{{ reservation.vehicle?.vendor }} {{ reservation.vehicle?.model }}</div>
        </td>
        <td>
          <span *ngFor="let service of reservation.services">{{ service.name }}</span>
        </td>
        <td>{{ reservation.requested.substr(0,10) }}</td>
        <td>
          <span class="pending" *ngIf="reservation.status == 0">Pending</span>
          <span class="accepted" *ngIf="reservation.status == 1">Accepted</span>
          <span class="declined" *ngIf="reservation.status == 2">Declined</span>
        </td>
        <td>
          <button *ngIf="reservation.status == 0" type="button" class="btn btn-primary btn-sm mr-1"
            (click)="onAccept(reservation._id, true)">
            Accept
          </button>
          <button *ngIf="reservation.status == 0" type="button" class="btn btn-danger btn-sm"
            (click)="onAccept(reservation._id, false)">
            Decline
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>