<div class="container">
  <div class="mt-5 mb-4">
    <h2 class="section-heading">Reservations</h2>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Vehicle</th>
        <th scope="col">Owner</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Accept</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <th scope="row">{{ reservation.services }}</th>
        <td>{{ reservation.createdBy }}</td>
        <td>{{ reservation.requested.substr(0,10) }}</td>
        <td>{{ reservation.created.substr(11,8) }}</td>
        <td><button type="button" class="btn btn-primary btn-sm" data-toggle="button" aria-pressed="false"
            autocomplete="off" (click)="destroy()">
            Accept<a *ngIf="show">ed</a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>